header    
    padding: 56px 60px 69px 130px
    position: relative
    height: 761px 
    font-weight: 500
    background-color: #f4f7f4
    
.header
    margin-top: 30px
    width: 563px
    font-size: 50px
    line-height: 75px
    &_w
        width: 604px
    &_b
        margin-bottom: 45px

.header > a
    color: #145855
    text-decoration: underline

.logo
    display: flex
    justify-content: space-between
    width: 90px 
    &_name
        padding: 0 202px 0 23px
        color: #000
        font-size: 24px
        line-height: 28px 
        letter-spacing: 1px

nav
    display: flex
    ul
        display: flex
        justify-content: space-between
        margin: -36px auto  
        li
            padding-right: 55px
        li > a
            font-size: 16px  
            color: #282A30
        a:hover
            border-bottom: 2px solid #145855 
    .btn 
        display: flex
        margin-top: -36px
        &_shop
            margin-right: 50px

.descr
    &_name
        font-size: 14px 
        letter-spacing: 0.5em
        color: #145855
        margin-top: 165px
        text-transform: uppercase
.button 
    margin-top: 30px

.button a
    color: #145855
    font-size: 18px 
    text-align: center
    border: 1px solid #145855
    width: 180px 
    height: 55px
    border-radius: 40px
    padding: 14px 42px
    cursor: pointer
    text-decoration: none
    transition-duration: 1s

.button a:hover
    border: none
    background: linear-gradient(90deg, #849A72 25%, #145855 100%)
    color: #fff
    transition-duration: 500ms
     
.box
    margin-top: 30px
    display: flex
    .ellipse 
        margin-top: 25px
        background-color: #145855
        width: 40px
        height: 40px
        border-radius: 50%
        margin-left: 20px
        .playpause
            display: block
            width: 15px
            height: 15px
            margin: 13px
    .watch 
        margin-top: 32px
        padding-left: 15px 
        color: #282A30
        text-decoration-line: underline
        font-size: 18px
        line-height: 27px

.bg-img
    position: absolute
    top: 232px 
    right: 60px
    &_ellipse
        position: absolute
        top: 320px
        right: 270px

.tracery
    display: block 
    position: absolute
    left: 50%
    &_flowers
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: -41px
        left: 114px

.shell
    position: relative
.bubble:first-child
    background-color: #8CBE6D
    width: 65px
    height: 65px
    border-radius: 50% 
    position: absolute
    left: 38%
    bottom: 320px

.bubble:nth-child(2)
    background-color: #52A742
    width: 30px
    height: 30px
    border-radius: 50%
    position: absolute
    right: 50%
    bottom: 57px  
       
.bubble:last-child  
    background-color: #145855
    width: 74px
    height: 74px
    border-radius: 50%
    position: absolute
    left: 90%
    bottom: -30px

.important, .variety, .decoration
    height: 859px
    padding-left: 153px
    position: relative

.variety, .decoration
    padding-right: 153px
    margin: 44px 0 169px 0 

.block
    display: flex
    &_upend
        flex-direction: row-reverse
        
.block > button
    padding: 13.75px 42px

.bg-plant
    display: flex
    align-self: flex-end
    padding: 0 0 3px 111px 
    &_left
        margin: 0 -58px -95px 0

.img-fl
    margin-top: 152px
    width: 444px
    height: 677px
    border-radius: 30px

.text
    margin-top: 318px
    padding-left: 80px
    &_upend
        padding-right: 109px
    &_subheader 
        margin: 21px 0 50px 0
        font-weight: 400
        font-size: 16px
        line-height: 40px
        width: 619px
    
.value  
    height: 882px
    background-color: #F4F7F8
    padding: 120px 150px 100px
    &_nav
        display: flex
        justify-content: space-between
        ul
            margin: 0
            margin-top: 50px 
            &_link
                color: #C5C5C5
                font-size: 18px
                line-height: 27px
            &_link:hover 
                text-decoration: none 
                color: #000000
    
    &_slideshow
        display: flex
        justify-content: center
        margin-top: 70px
    &_img
        margin: 0 15px 0 15px
        display: flex
        height: 300px
        width: 262px
        border-radius: 30px
    &_img-1
        background: url('../img/jasmine.jpg') center (center / cover) no-repeat
    &_img-2
        background: url('../img/lily.jpg') center (center / cover) no-repeat
    &_img-3
        background: url('../img/rose.jpg') center (center / cover) no-repeat
    &_img-4 
        background: url('../img/amarise.jpg') center (center / cover) no-repeat
    &_name
        margin-top: 45px
        padding: 0 
    &_price
        margin-top: 5px
        color: #145855

.swiper 
    display: flex

.left, .right
    border: 2px solid #145855 
    width: 48px 
    height: 48px
    border-radius: 10px
    position: relative
    margin-right: 30px
.left:before, .right:before
    content: ''
    width: 2px 
    height: 13px 
    display: block
    background-color: #145855
    transform-origin: 100% 0%;
    position: absolute
    top: 12px
    left: 204px
    transform: translateX(-180px) rotate(45deg)
.right:before
    position: absolute
    top: 20px
    left: 204px
.left:after, .right:after 
    content: ''
    width: 2px 
    height: 13px 
    display: block
    background-color: #145855
    transform-origin: 100% 0%
    position: absolute
    top: 147px
    left: -113px
    transform: rotate(-45deg) translateX(180px)
.right:after
    position: absolute
    top: 139px
    left: -112px

footer
    padding: 80px 0 0 115px
    background-color: #F4F7F8
.footer
    &_text
        width: 386px
        margin-top: 26px
        color: #5C6880
        font-weight: 400
        font-size: 16px
    &_social
        display: flex
        justify-content: space-between
        width: 174px
        margin-top: 50px
    &_circle
        background-color: #fff
        width: 41px 
        height: 41px
        border-radius: 50%
        padding: 8px
        display: flex
        justify-content: center
        align-items: center
    &_circle:hover
        background-color: #145855
        background: linear-gradient(90deg, #849A72 25%, #145855 100%)
        transition-duration: 500ms
        border: none
    &_info
        display: flex
        flex-direction: column
        padding-right: 100px
    &_title
        font-weight: 600
        color: #292742
        font-size: 18px
        margin-bottom: 14px
    &_link
        color: #5C6880
        font-size: 16px
        letter-spacing: 0.3px
        width: 123px
        margin-top: 18px
    &_link:hover
        color: #145855
        cursor: pointer
    &_img-plant
        display: flex
        justify-content: flex-end
        margin-top: -189px
.wrapper
    display: flex
    margin: -225px 500px 0 
    padding-bottom: 66px


            




